:root{
  --cor1: #5C23D9;
  --cor2: #4D3BDF;
  --cor3: #414CE8;
  --cor4: #345EF1;
  --cor5: #2B6BF7;
  --cor6: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    background: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5));
    color:var(--cor6);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box{
    height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
  
    

}
form{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 20px 20px 20px;
    border-radius: 10px;
}
fieldset{
    padding: 30px 15px;
    border: 2px solid var(--cor3);
}
legend{
    background: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5));
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.inputbox{

    position: relative;
}

.inputUser{ 
 
    padding: 2px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--cor6);
    color: var(--cor6);
    font-size: 13px;
    letter-spacing: 1px;
}
.bar{
position: absolute;
bottom: 0;
left: 0;
height: 2px;
width: 0;
background: var(--cor5);
transition:all 0.5s ease-in-out;
}
input:focus  ~ .bar, input:valid ~ .bar {
    width: 100%;

}
.animacao{
    color: rgba(255, 255, 255, 0.596);
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .animacao, .inputUser:valid ~ .animacao{
    top: -20px;
    font-size: 15px;
    color: var(--cor4);
}
.bnt{
    width: 100%;
    background: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5));
    padding: 10px;
    border-radius: 10px;
    color: var(--cor6);
    border: none;
    margin-top: 20px;
    cursor: pointer;
    
}
.bnt:hover{
    background: linear-gradient(to right, var(--cor5), var(--cor4), var(--cor3), var(--cor2), var(--cor1));
   
}